<!-- The outer container for the login form -->
<div class="wrapper">
    <form (ngSubmit)="onLogin()">
        <!-- Title for the login form -->
        <h1>Login</h1>

        <!-- Input box for the username -->
        <div class="input-box">
            <input type="text" placeholder="Username" required [(ngModel)]="username" name="username">
            <i class='bx bxs-user'></i> <!-- Icon for username -->
        </div>

        <!-- Input box for the password -->
        <div class="input-box">
            <input type="password" placeholder="Password" required [(ngModel)]="password" name="password">
            <i class='bx bxs-lock-alt'></i> <!-- Icon for password -->
        </div>

        <!--
        Commented out: Remember Me and Forgot Password options
        <div class="remember-forgot">
            <label><input type="checkbox">Remember Me</label>
            <a href="#">Forgot Password</a>
        </div>
        -->

        <!-- Login button -->
        <button type="submit" class="btn">Login</button>

        <!-- Registration link if the user doesn't have an account -->
        <div class="register-link">
            <p>Don't have an account? <a [routerLink]="['/register']">Register</a></p>
        </div>

        <!-- Display an error message if login fails -->
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
    </form>
</div>