<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="login.component.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<!-- The outer container for the login form -->
<div class="wrapper">
    <form (ngSubmit)="onLogin()">
        <!-- Title for the login form -->
        <h1>Login</h1>

        <!-- Input box for the username -->
<div class="input-box">
    <input [(ngModel)]="username" name="username" type="text" placeholder="Username">
    <i class='bx bxs-user'></i> <!-- Icon for username -->
</div>

<!-- Input box for the password -->
<div class="input-box">
    <input [(ngModel)]="password" name="password" type="password" placeholder="Password">
    <i class='bx bxs-lock-alt'></i> <!-- Icon for password -->
</div>

        <!--
        Remember Me and Forgot Password options disabled for now. Will activate once everything else is completed.
        <div class="remember-forgot">
            <label><input type="checkbox">Remember Me</label>
            <a href="#">Forgot Password</a>
        </div>
        -->

        <!-- Login button -->
        <button type="submit" class="btn">Login</button>

        <!-- Registration link if the user doesn't have an account -->
        <div class="register-link">
            <p>Don't have an account? <a [routerLink]="['/register']">Register</a></p>
        </div>

        <!-- Display an error message if login fails -->
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>

        <!-- Display a success message if login is successful -->
        <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
        </div>
    </form>
</div>