/* Styling for the wrapper */
.wrapper {
    background: #0072c6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Styling for the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Styling for table headers */
  th {
    background: #0072c6;
    color: #fff;
    font-weight: 600;
    padding: 8px;
    text-align: center;
  }
  
  /* Styling for table rows */
  tr:nth-child(even) {
    background: #f2f2f2;
  }
  
  /* Styling for table cells */
  td {
    padding: 8px;
    text-align: center;
  }
  
  /* Styling for the button */
button {
    background: #0072c6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
    margin-top: 20px;
  }
  
  /* Slightly darker blue on hover */
  button:hover {
    background: #005aa7;
  }

  .attending {
    background-color: green;
    color: white;
  }
  